*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 248, 248);
    min-height: 100vh;
    color: #333;;   
}

.sidebar{

    margin: 0px;
    padding: 0px;
    width: 350px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}


